/* About Us Section Styles */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3rem 4rem;
  margin-bottom: 20px;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us img {
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.about-us-description {
  font-size: 1.2rem;
  color: #4a4a4a;
  padding-left: 3rem;
  font-weight: 500;
}

.about-us-description h3 {
  font-size: 2.5rem;
  color: black;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.about-us-description h3 strong {
  color: #de5f1e;
}

.about-us-description h3 strong span {
  color: #6319d1;
}

.about-us h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 800;
  color: #000000;
  line-height: 1.5;
}
.about-us h1 span {
  color: #de5f1e;
}

/* Testimonials Section Styles */
.about-us-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 3rem 0rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-description{
  margin-left: 1rem;
}

.testimonials h2 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.testimonials h2 span {
  color: #de5f1e;
}

.testimonial {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin-bottom: 1.5rem;
  border: 2px solid #de5f1e;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding:1.5rem;
}

.testimonial-description p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #555555;
  margin-top:10px;
}

.testimonial p span {
  color: #6319d1;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #6319d1;
  margin-right: 15px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 1);
}

/* Our Workers Section Styles */
.our-workers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 3rem 0rem;
}

.our-workers h2 {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
  text-align: center;
}

.our-workers h2 span {
  color: #de5f1e;
}

.workers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  width: 100%;
}

.worker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: auto;
  border: 2px solid #de5f1e;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.worker img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.worker-description {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: #555555;
}

.worker-description h3 {
  color: #de5f1e;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0rem;
}

.worker-description h3 span {
  color: #6319d1;
}

/* Contact Us Section Styles */
.contact-us {
  background-color: #f9f9f9;
  padding: 3rem 0rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container h2 {
text-align: center;
  color: #de5f1e;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.contact-icon {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

#contact-form{
  width: 50%;
  background-color: #ffffff;
  padding: 2rem 2rem 1rem;
  border: 1.5px solid #de5f1e;
  border-radius: 8px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 span {
  color: #6319d1;
}

.form-groups {
  margin-bottom: 15px;
}

.form-controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid black;
  box-sizing: border-box;
}

#btn-primary {
  padding: 10px 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #6319d1;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  background-color: #6319d1;
  color: #ffffff;
}

#btn-primary:hover {
  background-color: transparent;
  color: #6319d1;
}

/* Center the button */
.form-groups:last-of-type {
  display: flex;
  justify-content: center;
}

/* Media query for max-width: 992px */
@media (max-width: 992px) {
  .about-us-content {
    flex-direction: column;
    gap: 20px;
  }

  .about-us img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .about-us-description {
    max-width: 100%;
    text-align: center;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid #de5f1e;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .worker {
    width: 100%;
  }

  #contact-form{
    width: 100%;
  }
}

/* Media query for max-width: 598px */
@media (max-width: 598px) {
  .about-us h1 {
    font-size: 3rem;
  }

  .about-us-description {
    font-size: 1.2rem;
  }

  .about-us-description h3 {
    font-size: 2rem;
  }

  .about-us-content {
    flex-direction: column;
    gap: 10px;
  }

  .about-us img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid #de5f1e;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .testimonial p {
    font-size: 1rem;
  }

  .testimonials h2 {
    font-size: 2.5rem;
  }

  .our-workers h2 {
    font-size: 2.5rem;
  }

  .worker-description {
    font-size: 1rem;
  }

  .worker {
    width: 100%;
    gap: 10px;
  }

  .contact-us h2 {
    font-size: 2.5rem;
  }
}
