.mian-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  margin: auto;
}

.text-section {
  max-width: 50%;
}

.text-section h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #000000;
  line-height: 1.5;
}

.text-section h1 span {
  color: #de5f1e;
}

.text-section p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #4a4a4a;
  font-weight: 500;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 3rem;
}

.order-btn,
.video-btn {
  padding: 10px 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #6319d1;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.order-btn {
  background-color: #6319d1;
  color: #ffffff;
}

.order-btn:hover {
  background-color: transparent;
  color: #6319d1;
}

.video-btn {
  background-color: transparent;
  color: #6319d1;
}

.video-btn:hover {
  background-color: #6319d1;
  color: #ffffff;
}

.image-section img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.categories-container {
  text-align: center;
  padding: 4rem 0rem;
  background-color: #ffffff;
}

.subtitle {
  color: #de5f1e;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.categories-container h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  margin: 16px 0px;
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 4rem;
}

.category-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  width: 200px;
  transition: transform 0.3s;
}

.category-item:hover {
  transform: translateY(-10px);
}

.category-item img {
  width: 100px;
  height: 100px;
}

.category-item p {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 0 6px;
}

.category-item span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}

.dishes-container {
  text-align: center;
  padding: 4rem 0rem;
  background-color: #ffffff;
}

.dishes-container h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  margin: 16px 0px;
}

.dishes {
  margin: 2rem 0rem;
}

.slick-slider {
  display: flex !important;
  justify-content: space-around !important;
}

.dish-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  width: 330px !important;
  transition: transform 0.3s;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 30px !important;
  margin: 2rem 0rem;
}

.dish-item:hover {
  transform: translateY(-10px);
}

.dish-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dish-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.favorite-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #de5f1e;
  color: #ffffff;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dish-name {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 0 6px;
}

.dish-description {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
}

.dish-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.dish-price {
  color: #de5f1e;
  font-size: 1.2rem;
  font-weight: 700;
}

.dish-rating {
  font-size: 1rem;
  font-weight: 700;
  color: #6319d1;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 3rem;
}

.nav-button {
  background-color: #6319d1;
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-bi {
  font-size: 1.5rem;
  -webkit-text-stroke: 1px;
}

.nav-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.testimonial-section {
  display: flex;
  align-items: center;
  padding: 2rem 0rem 4rem;
  background-color: #ffffff;
}

.testimonial-image {
  width: 50%;
}

.testimonial-image img {
  height: 100%;
  width: 90%;
  object-fit: cover;
}

.testimonial-image .chef-badge {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.testimonial-content {
  width: 50%;
}

.testimonial-content h2 {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  margin: 16px 0px;
}

.testimonial-content p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #555555;
  margin: 20px 0px 25px;
}

.testimonial-feedback {
  position: relative;
  margin-top: 10px;
}

.testimonial-feedback img {
  width: 70px;
  height: 70px;
}

.testimonial1 {
  position: absolute;
  left: 0;
}

.testimonial2 {
  position: absolute;
  left: 50px;
}

.testimonial3 {
  position: absolute;
  left: 100px;
}

.feedback {
  margin-left: 12rem;
}

.feedback h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}

.feedback span {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 600;
  color: #555555;
}

.testimonial-feedback .rating {
  color: #de5f1e;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 10px;
}

.services-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem 5rem;
  background-color: #ffffff;
}

.services-content {
  max-width: 50%;
}

.services-content h2 {
  color: #000000;
  font-size: 2.9rem;
  font-weight: 700;
  margin: 16px 0px;
}

.services-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 600;
  color: #555555;
  margin-bottom: 1.6rem;
  max-width: 90%;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.service-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  max-width: 260px;
  transition: all 0.3s ease-in;
}

.service-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}

.service-card img {
  height: 40px;
  width: 40px;
  margin-bottom: 15px;
}

.service-card h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}

.service-card p {
  font-size: 14px;
  color: #555;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 992px) {
  .mian-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem 0rem;
  }

  .text-section {
    max-width: 100%;
  }

  .image-section {
    margin-top: 3rem;
  }

  .image-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-image {
    width: 100%;
  }

  .testimonial-content {
    width: 100%;
  }

  .testimonial-image img {
    height: 100%;
    width: 100%;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-content {
  max-width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
}

@media (max-width: 420px) {
  .text-section h1 {
    font-size: 3rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .dish-item {
    width: 100%;
  }
}
